.About{
    margin: 20px 10px 10px auto;
    width: 100%;
    text-align: center;
    border: 1px soild #eee;
    box-shadow: 0 2px 3px rgb(102, 170, 233);
    padding: 20px;
    box-sizing: border-box;
    font-size: 80px;
    background-image: linear-gradient(45deg,rgba(72, 146, 243, 0.9),rgba(72, 84, 173, 0.925));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 3px;
}

.paragraph{
    margin: 30px auto ;
    padding: 30px;
    width: 100%;
    text-align: left;
    font-size: 35px;
    background-image: linear-gradient(45deg,rgba(134, 178, 236, 0.9),rgba(72, 84, 173, 0.925)),
    url(../../assest/images/download1.png);
   
    font-weight: bold;
    color: rgb(39, 39, 39);
}

